.movie-content {
    display:flex;
    margin-bottom: 30px;
}

.movie-details > div {
    margin-bottom: 10px;
}

.title-year-wrap {
    display: flex;
}

.title-year-wrap .title {
    margin-right: 10px;
    text-transform: capitalize;
    text-decoration: underline;
}
