
.modal-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
}

.add-movie-modal {
    padding: 40px;
    width: 50%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.add-movie-modal h3 {
    font-size: 30px;
    margin-top: 0;
}

.add-movie-modal input,
.add-movie-modal select,
.add-movie-modal textarea {
    background: #FFF;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-movie-modal textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.add-movie-modal select {
    background: #FFF;
    outline: none;
}

.add-movie-modal .genres option {
    text-transform: capitalize;
}