
.modal-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);

}

.add-movie-modal {
    width: 50%;
    height: 50vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}