
.modal-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.add-movie-modal {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}